.homeImageLeft {
  background-image: url("../images/alexander-wang-camera.jpg");
  height: 70vh;
  width: 50vw;
  background-size: 130%;
  background-position-y: 50%;
  background-position-x: 80%;
}

.homeImageRight {
  background-image: url("../images/hunter-moranville-camera.jpg");
  height: 70vh;
  width: 50vw;
  background-size: 110%;
}

.imageSection {
  display: flex;
}

body {
  padding: 0px;
  margin: 0px;
}

.showCameraText h1,
.showCameraText h2,
.showCameraText h3 {
  margin: 0px;
  padding: 0px;
}

.selected {
  background-color: gray;
}

.item_input {
  width: 500px;
  height: 35px;
  font-size: 1.1rem;
}

.select_input {
  width: 510px;
  height: 35px;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .item_input {
    width: 300px;
    height: 35px;
    font-size: 1.1rem;
  }

  .select_input {
    width: 310px;
    height: 35px;
    font-size: 1rem;
  }
}

.item_input:focus,
.select_input:focus {
  outline: 2px solid #525fe1;
}
